.global {
  display: -webkit-inline-box;
  position: fixed;
  left:31%;
  top: 20%;
}

.parent {
  height: 100%;
  flex-flow: column;
  padding: 0px;
  margin: 0px;
}

.txtCenter{
  text-align: center;
  margin-left: auto;
margin-right: auto;
}