/*@import "~@material/card/dist/mdc.card.css";*/
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html,
body,
#root {
  padding: 0;
  margin: 0;
  height: 100%;
  line-height: 1.5;
  font-size: 16px;
  font-family: Helvetica, sans-serif;
  color: #000;
  background-color: #f7f7f7;
}
.parent {
  height: 100%;
  display: flex;
  flex-flow: column;
}

.bref-history {
  flex-grow: 1;
  /*flex: 1;*/
  /*overflow-y: auto;*/
  /*border-radius: 4px;*/
  /*background-color: #fff;*/
  /*!* @alternate *!*/
  /*!*background-color: ;*!*/
  /*box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);*/
  /*display: flex;*/
  /*flex-direction: column;*/
  /*box-sizing: border-box;*/
}

.bref-interface {
  border-top: 2px solid black;
  background-color: white;
  padding: 10px;
}

.bref-interface h3 {
  margin: 0;
}

.bref-interface input {
  width: 10%;
  padding: 10px 15px;
}
.bref-interface select {
  width: 8.2%;
  padding: 10px 15px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.bref-interface button {
  cursor: pointer;
  padding: 10px 14px;
  font-size: 1em;
  border: 0;
  user-select: none;
  outline: none;
  color: white;
  background-color: green;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}

.comment-item {
  background-color: white;
  margin: 10px 10px;
  border: 1px solid grey;
  padding: 12px 6px;
  border-radius: 5px;
}

.comment-item h3,
.comment-item p {
  margin: 0;
}